 

:root{
     --c-dark:black;
     --c-brand: green;
     --c-brand-light:rgb(77, 186, 77);
     --c-brand-rgb:78, 87, 212;
     --c-body:rgb(128, 119, 119);
     --font-base:"ClashDisplay",sans-serif;
     --box-shadow:0px 15px 25px black;
     --transition:all 0.5s ease;
}


body{
    font-family: var(--font-base);
    line-height: 1.7;
}

p{
    color: rgb(88, 87, 87);
}

 h1 h2 h3 h4 h5 h6
 .h1 .h2 .h3 .h4 .h5 .h6 {
  font-weight: 600;
  color: var(--c-brand);
}

a{
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition) ;
}

a:hover{
    color: var(--c-brand-light);
}
 
img{
    max-width: 100%;
    height: auto;
}
.section-padding{
    padding-top: 140px;
    padding-bottom: 140px;
}

/*navbar*/

.navbar{
    box-shadow:var(--box-shadow) ;
}
.navbar-nav .nav-link{  
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active{
    color:var(--c-brand);
}

/*btn*/

.btn{
 font-weight: 600;
 font-size: 14px;
 text-transform: uppercase;
 border-radius: 0;
 padding: 10px 24px;
}

.btn-brand{
    background-color:var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}
.btn-brand:hover{
    background-color:var(--c-brand-light);
    border-color:var(--c-brand-light) ;
    color: white;
}
/*hero*/

#home{
    background: linear-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.438)), url(../green🤍.jpg);
    background-position: center;
     background-size: cover;
}


.section-title{
    margin-bottom: 60px;
}
.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto ;
}

.section-title p{
    max-width: 500px;
    margin-left: auto;
    margin-right:auto;

}

.iconbox{
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.1);
    color: var(--c-brand);
    font-size: 50px;
    flex: none;
}

/*service*/
.service-box{
padding: 30px;
box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.523);
text-align: center;
}
.service-box img{
    width: unset;
}
.service-box h5 {
    margin-top: 30px;
    margin-bottom: 10px;
}



.bbb{
    width: 100%;
    height: 300px;
}


.review small{
    font-weight: 600;
    text-transform: uppercase;
    color: var(--c-brand);
}
.review-head{
    position: relative;
    
}
.review-head::after{
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -14px;
    background-color: white;
    transform: rotate(45deg);
}


/*team*/



.team-member{
    text-align: center;
     margin-left: 370px;
    width: 300px;
    height:300px;
    
}
.team-member .img-warpper{
    position: relative;
    overflow: hidden;
}
.team-member .overlay{
    position: absolute;
    top:-10;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:black;
    transition: all 0.4s ease;
    opacity: 0;
}
.team-member .social-links{
  position: absolute;
  top: 60%;
  left: 50%;
  align-items: center;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
  opacity: 0;

}
.team-member:hover .overlay{
    opacity: 1;
    top: 0;
}


.team-member:hover .social-links{
    opacity: 1;
    top: 50%;
    
}
.team-member h5{
    margin-top: 24px;
}



/*footer*/

footer{
    padding: 100px;
}

.footer-top{
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(225, 225, 225, 0.1);
}

.footer-bottom{
    padding-top: 40px;
    padding-bottom: 40px;
}

footer li
footer p
footer a{
    color: white;
}

footer ul{
    list-style: none;
    padding: 0;
}
footer .line{
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a{
  width: 40px;
  height: 40px;
  display:inline-flex ;
  align-items: center;
  justify-content: center;
  background-color: rgb(225, 225, 225, 0.1) ;
  border-radius: 100px;
}
.social-icons a:hover{
    background-color: var(--c-brand);
    color: white;
}





